<h1>Subscription detail</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <h2>Course</h2>
        <img src="<%= @subscription.course.image_src %>" width="100%">
        <h3><%= @subscription.course.title %></h3>
        <p><%=  %></p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <h2>Teacher</h2>
      <img src="<%= @subscription.teacher.avatar %>" width="100%">
      <h3><%= teacher_full_name(@subscription.teacher) %></h3>
      <p><%= @subscription.teacher.email %></p>
      <p><%= @subscription.teacher.specialism %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <h3><%= @subscription.votes.size %> votes</h3>
      <% @subscription.votes.each do |vote| %>
        <img src="<%= @subscription.teacher.avatar %>" width="100px">
        <h5><%= teacher_full_name(vote.voted_by) %></h5>
      <% end %>
    </div>
  </div>
</div>
