<section class="container">
  <div class="right-container">
    <div class="row">
      <div class='column'>
        <div class="card">
          <img src="<%= @course.image_src %>" width="300px">
          <h3><%= @course.title %></h3>
          <p>
            <% @course.tags.each do |tag| %>
              <span class='tag'><%= tag %></span>
            <% end %>
          </p>
          <p><%= @course.description %></p>
          <%= link_to 'Subscribe', new_course_subscription_path(course_id: @course.id), class: 'inscription-button' %>
          <p><%= @course.teachers.count %> teachers Subscribed</p>
        </div>
      </div>
      <div class='column'>
        <div class='card'>
          <h3><%= link_to "#{@course.votes.count} Votes", "/course/#{@course.id}/votes", class: '' %></h3>
          <%= form_with(url: "/votes", method: "post", remote: true) do %>
            <%= label_tag(:email, "Search for:") %>
            <%= text_field_tag(:email, '', { placeholder: 'Teacher email', id: 'search-input-email' }) %>
            <%= hidden_field_tag(:votable_id, @course.id) %>
            <%= hidden_field_tag(:votable_type, 'Course') %>
            <%= submit_tag("Vote", class: 'inscription-button') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <% @course.subscriptions.each do |subscription| %>
        <%= render partial: './subscriptions/subscription', locals: { subscription: subscription } %>
      <% end %>
    </div>
  </div>
</secion>
