<!DOCTYPE html>
<html>
  <head>
    <title>Domestika app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='navbar'>
      <ul>
        <li class='title'><a href="/">Domestika</a></li>
        <li class='item-li'><a href="/courses">Courses</a></li>
        <%# <li class='item-li'><a href="/leaderboard">Leaderboard</a></li> %>
        <li class='item-li'><a href="/teachers">Teachers</a></li>
      </ul>
    </div>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
